@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

    @{
        var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
    }

@if(SignInManager.IsSignedIn(User))
{
    <form asp-action="LogOut" asp-controller="Account" method="POST">
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="user-cart-header" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
        </li>
        <li>
        <a asp-area="" asp-controller="Account" asp-action="MyAccount">@claim</a>
        </li>
        <li>
            <button class="btn btn-link navbar-btn navbar-link"> Log Out</button>
        </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="cart-header" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Login/Register</a>
        </li>
    </ul>
}