@model BookCave.Models.InputModels.CreateAccountInputModel
<div class="container">
    <div class="row">
        <div class="panel panel-login col-md-6">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div> 
            <form method="post">
                <div class="panel-body">
                    <input class="form-control" type="email" placeholder="email" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                    <br>
                    <input class="form-control" type="password" placeholder="password" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                    <br>
                    <input type="submit" value="Login" class="btn btn-success">
                </div>
            </form>
        </div>
        <div class="panel panel-login col-md-6"> 
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div> 
            <form method="post">
                <div class="panel-body">
                    <input class="form-control" type="email" placeholder="email" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                    <br>
                    <input class="form-control" type="text" placeholder="name" asp-for="Name">
                    <span asp-validation-for="Name"></span>
                    <br>
                    <input class="form-control" type="password" placeholder="password" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                    <br>
                    <input class="form-control" type="password" placeholder="Confirm password" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                    <br>
                    <input type="submit" value="Sign up" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>