@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Let's talk about us.</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum cursus euismod. Mauris tincidunt massa urna, vitae commodo quam vulputate quis. Phasellus sed magna elementum, porttitor mi in, imperdiet odio. Nam tempus, felis condimentum condimentum malesuada, turpis ante molestie sapien, eu gravida nisi purus nec eros. Nulla scelerisque vitae eros quis auctor. Suspendisse lacus eros, molestie eu est sed, vehicula elementum nunc. Sed ultricies nisl et lectus placerat, a consectetur massa volutpat. Nam sed sapien a tellus elementum ultrices mollis vel dui. Pellentesque laoreet, nisi id tempor semper, tellus nisl euismod lacus, eu congue risus tortor vitae justo. Morbi felis urna, dignissim sed nisi a, interdum hendrerit nunc.
</p>
