@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Let's talk about us.</h1>
<p>
    <strong>Hópur 44</strong>, Við erum Nemendur í HR við tölvunarfræði. við gerðum þessa síðu fyrir Verklegt Námskeið 2.<br/>
    Við erum Andrés Harðarson, Sæmundur Ragnarsson, Sævald Viðarsson, Viktor Ingi Kárason og Stefán
    Snær Ágústsson.<br/>
    Hér er linkur að <a href="https://github.com/Hopur44/BookCave">Github</a> Repository-inu okkar.
</p>
