@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>
Contact us 
</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum arcu sit amet ipsum semper, in scelerisque ex luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit ipsum, eleifend eget quam nec, malesuada blandit elit. Vestibulum eu nisi nec orci molestie fermentum. Pellentesque cursus velit quam, eget porta justo scelerisque nec. Donec purus massa, mollis eget nunc sit amet, convallis elementum mauris. Vestibulum in pretium augue. Ut consectetur nibh nec est sollicitudin, nec porta velit feugiat. Sed eget turpis viverra, vulputate magna id, mattis diam. Suspendisse vestibulum eleifend dolor non dictum. Fusce ultricies a neque vel aliquet.
</p>
