@model BookCave.Models.InputModels.BillingInputModel
<div class="grid-container">
    <div class="grid-account">
        <div class="stepwizard">
            <div class="stepwizard-step">
                    <button type="button" class="btn btn-success btn-circle" disabled="disabled">1</button>
                    <p>Billing Info</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">2</button>
                    <p>Shipping</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                    <p>Payment</p>
                </div> 
        </div>
            <div class="row">
                <div class="panel panel-login"> 
                    <div class="panel-heading">
                        <div class="panel-title">Billing Information</div>
                    </div> 
                    <form asp-controller="Checkout" asp-action="Billing">
                        <div class="panel-body">
                            <input class="form-control" type="text" placeholder="Street Address" asp-for="StreetAddress">
                            <span asp-validation-for="StreetAddress"></span>
                            <br/>
                            <input class="form-control" type="text" placeholder="City" asp-for="City">
                            <span asp-validation-for="City"></span>
                            <br/>
                            <select class="form-control" asp-for="Country">
                                <option value="Iceland">Iceland</option>
                                <option value="England">England</option>
                                <option value="USA">USA</option>
                                <option value="Denmark">Denmark</option>
                            </select>
                            <br/>
                            <input class="form-control" type="text" placeholder="Zip Code" asp-for="ZipCode">
                            <span asp-validation-for="ZipCode"></span>
                            <br/>
                            <input class="form-control" type="text" placeholder="Name of Card owner" asp-for="CardOwner">
                            <span asp-validation-for="CardOwner"></span>
                            <br/>
                            <input class="form-control" type="text" placeholder="Credit Card Number" asp-for="CardNumber">
                            <span asp-validation-for="CardNumber"></span>
                            <br/>
                            <input class="form-control" type="text" placeholder="Cvv(3 digits on the card)" asp-for="CvCode">
                            <span asp-validation-for="CvCode"></span>
                            <br/>
                            <input class="form-control" type="date" asp-for="ExpireDate">
                            <span asp-validation-for="ExpireDate"></span>
                            <br/>
                            <input type="submit" value="Register" class="btn btn-default">
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>