body{padding-top:50px;padding-bottom:20px}.body-content{padding-left:15px;padding-right:15px}.carousel-caption p{font-size:20px;line-height:1.4}.carousel-inner .item img[src$=".svg"]{width:100%}#qrCode{margin:15px}@media screen and (max-width:767px){.carousel-caption{display:none}}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    background-color: rgb(230, 230, 230);

}

.custom-btn {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    margin: auto;
    background-color: rgb(221, 153, 87);
    border-color: rgb(139, 99, 58)
}

.custom-btn:hover {
    background-color: rgb(214, 118, 22);
}

.dropdown > .dropdown-content > a:hover {
    cursor: pointer;
}

footer{
    background-color: #f5f5f5;
}

footer > p {
    color:rgb(119, 121, 108);
}

footer > a {
    color:rgb(119, 121, 108);
}

.search-bar {
    padding-top:8px;
}


.loader {
    /*
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background-color: white;
    z-index: 99;
    */
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.grid-container {
    margin: 5px;
    display:  flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    
  }
  .grid-container > .grid-account {
    
    border-radius: 5%;
    padding: 5px;
    margin: 3px;
    height: auto;
    width: 350px;
    display: grid;
    /*flex-wrap: wrap;
    /*align-self: center;
    justify-content: end;
    /*background-color: blue;*/
        
}

.grid-container > .grid-items {
    
    border-style: solid;
    border-radius: 5%;
    padding: 5px;
    margin: 3px;
    background-color: rgba(221, 221, 221, 0.651);
    height: 450px;
    width: 250px;
    display: grid;
    /*flex-wrap: wrap;
    /*align-self: center;
    justify-content: end;
    /*background-color: blue;*/
        
}

/*
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-areas: "left middle right";
}

#left-aside {
    grid-area: left;
    background-color: @queenPink;
    text-align: center;
}

*/

/* mobile and tablet */
@media screen and (max-width: 549px) {

    .grid-home-container {
        display: grid;
        
        /*
        grid-template-columns: 20% auto;
        grid-template-areas: "left right"
        */
    }

    .grid-home-aside {
        display: none;
        /*
        grid-area: left;
        background-color: rgba(70, 36, 150, 0.452);
        padding-top: 20px;
        */
    }

    .grid-home-aside > .grid-home-aside-item {
        display: grid;
        justify-content: center;
        padding: 15px;

    }
    .grid-container {
        /*background-color: rgba(36, 104, 150, 0.651);*/
        display:  flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        grid-area: right;
        padding-top: 20px; 
    }

    .grid-container >.grid-items {
        
        border-style: solid;
        border-color: rgba(221, 221, 221, 0.651);
        border-radius: 5%;
        padding: 5px;
        margin: 3px;
        background-color: rgba(221, 221, 221, 0.651);
        
        height: 350px;
        width: 200px;
        display: grid;
        /*flex-wrap: wrap;
        /*align-self: center;
        justify-content: end;
        /*background-color: blue;*/
            
    }

    .grid-container >.grid-items > a {
        display: grid;
        align-self: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5%;
        /*background-color: rgba(161, 161, 154, 0.623);*/
    }

    .grid-container >.grid-items > a > img {
        height: 200px; 
        width: 150px;
    }


    .grid-container > .grid-items > .grid-book-title {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }

    .grid-container >.grid-items > .grid-book-price {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }

    .grid-container > .grid-items > .grid-book-rating {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }
}

/* desktop */
@media screen and (min-width: 550px) {

    .grid-container {
        /*background-color: rgba(36, 104, 150, 0.651);*/
        display:  flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        grid-area: right;
        padding-top: 20px;  
    }

    .grid-home-container {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: "left right"
    }

    .grid-home-aside {
        grid-area: left;
        /*background-color: rgba(70, 36, 150, 0.452);*/
        padding-top: 20px;
    }

    .grid-home-aside > .grid-home-aside-item {
        display: grid;
        justify-content: center;
        padding: 10px;

    }


    .grid-container >.grid-items {
        
        border-style: solid;
        border-color: rgba(221, 221, 221, 0.651);
        border-radius: 5%;
        padding: 5px;
        margin: 3px;
        background-color: rgba(221, 221, 221, 0.651);
        
        height: 350px;
        width: 250px;
        display: grid;
        /*flex-wrap: wrap;
        /*align-self: center;
        justify-content: end;
        /*background-color: blue;*/
            
    }

    .grid-container >.grid-items > a {
        display: grid;
        align-self: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5%;
        /*background-color: rgba(161, 161, 154, 0.623);*/
    }

    .grid-container >.grid-items > a > img {
        height: 200px; 
        /*width: 150px; */
    }


    .grid-container > .grid-items > .grid-book-title {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }

    .grid-container >.grid-items > .grid-book-price {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }

    .grid-container > .grid-items > .grid-book-rating {
        display: grid;
        align-self: center;
        justify-content: center;
        text-align: center;
        /*background-color: blue;*/

    }

}

.grid-order-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    padding: 10px;
    /*background-color: rgba(162, 0, 255, 0.664);*/

}

.grid-order-buttons-item {
    margin: 3px;
    
}

.detail-grid-container {
    display: grid;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.grid-cart {  
    border-radius: 5%;
    
    display: grid;
    /*align-content: space-around;
    justify-content: space-between;*/
}

.grid-cart-item:nth-child(odd) {
    background-color: rgb(220, 232, 245);
    
}

.grid-cart-item:nth-child(even) {
    
    background-color: #f5f5f5;
}

    
.grid-cart > .grid-cart-item {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /*flex: 1;*/
    min-width: 0;
}

.grid-cart > .grid-cart-item > div {
    display: flex;
    align-items: center;
}


.grid-cart > .grid-cart-item > .grid-cart-item-title {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;  
    width: 450px;
}
.grid-cart > .grid-cart-item > .grid-cart-buttons {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.user-cart-status > #cart-items {
    display: flex;
    justify-content: end;
}
.user-grid-cart > .user-cart-status > .user-clear-cart {
    display: flex;
    justify-content: space-between;
}
.grid-cart > .grid-cart-item > .grid-cart-item-price > div {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis; virkar ekki*/
}

.grid-cart > .grid-cart-item > .grid-cart-buttons > div {
    padding: 1px;
}

#cart > .clear-cart {
    display: flex;
    justify-content: space-between;
}

#cart-items > span {
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.review-input {
    background: white;
    border:none;
}

.book-details-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
              "image image image image"
              "title title title title"
              "author author author author"
              "desc desc desc desc"
              "button button button button";
    
    /*
    flex-wrap: wrap;
    flex-direction: column;
    */
}

.book-details-row > .book-details-grid-image {
    display: grid;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    grid-area: image;
}

.book-details-row > .book-details-grid-title {
    display: grid;
    justify-content: center;
    grid-area: title;
}

.book-details-row > .book-details-grid-author {
    display: grid;
    justify-content: center;
    grid-area: author;
}

.book-details-row > .book-details-desc {
    display: grid;
    justify-content: center;
    grid-area: desc;
    text-align: center;
}

#user-comments {
    width: 80%;
     
}

#user-comments > .comments > p {
    padding: 4px; 
    display: flex;
    flex-direction: row;
}

#user-comments > .comments:nth-child(even) {
    background-color: #f5f5f5;
}

#user-comments > .comments:nth-child(odd) {
    background-color: rgb(220, 232, 245) ;
}
.book-details-row > .book-details-price-rel-button {
    padding: 4px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-area: button;
}


.book-details-row > .book-details-price-rel-button > .book-details-price {
    padding: 4px;
    display: grid;
    justify-content: center;
}

.book-details-row >  .book-details-price-rel-button > .book-details-rel {
    padding: 4px;
    display: grid;
    justify-content: center;
}

.book-details-row >  .book-details-price-rel-button > .book-details-button {
    padding: 4px;
    display: grid;
    justify-content: center;
    
}


/* fade in animation */
.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }

.user-empty-cart-container {
    padding: 20px;
    border-style: solid;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.top-ten-button {
    margin-top: 45px;
    border-radius: 5%;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
/* dropdown list */
.dropbtn {
    border-radius: 5%;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

/* https://bootsnipp.com/snippets/featured/process-steps */
.stepwizard-row {
    display: table-row;
}

.stepwizard {
    padding-top: 10px;
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.428571429;
  border-radius: 20px;
}

#MyAccountListHeader {
    font-size: 25px;
    font-weight: bold;    
}

#AccountImage {
    margin-left: 50px;
    margin-bottom: 10px;
    height:160px;
    width:160px;
    border: 3px solid black;
    border-radius: 25px;
    float: left;

}
.card {
    margin-left: 210px;
    width: 50rem;
}

.MyAccountHeader {
    font-weight: bold;
    float: left;
    
}

#AccHistoryBtn {
    float:left;
    margin-left: 235px;
    margin-bottom: 10px;
}

#AccEditBtn {
    float: left;
    margin-left: 235px;
}

#MyAccTitle {
    margin-left: 50px;
}
/*http://jsfiddle.net/BrianDillingham/6we0hvzL/*/
.expiration input {
    border: 0;
    text-align: center;
    outline: 0; /* remove if you want input highlight */
}